<body>



<div class="site-wrapper">

  <div class="site-wrapper-inner">





      <div class="masthead">
        <div class="inner">

          <nav class="nav nav-masthead" >
            <app-search-bar></app-search-bar>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-3">

          <app-history></app-history>

        </div>
        <div class="col-6">
          <div class="inner cover">
            <app-video-view></app-video-view>
          </div>
        </div>
        <div class="col-3">

          <app-bookmarks></app-bookmarks>

        </div>
      </div>







  </div>

</div>



</body>
