<body>



<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <app-search-bar></app-search-bar>

        </div>
      </div>

      <div class="inner cover">
        <app-video-view></app-video-view>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Website of relief application <a href="https://reliefapps.org//">Click </a>!</p>
        </div>
      </div>

    </div>

  </div>

</div>



</body>
